* {
    margin: 0;
    padding: 0;
   }
  
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

   /* si uso una fuente personalizada, armar un font-face por cada tipo de font (bold /italic/....   */

   @font-face {
    font-family: 'font-jms-Heavy';
    src: url('objectSans/PPObjectsSans-Heavy.ttf');
   }
   @font-face {
    font-family: 'font-jms-HeavySlanted';
    src: url('objectSans/PPObjectsSans-HeavySlanted.ttf');
   }
   @font-face {
    font-family: 'font-jms-Regular';
    src: url('objectSans/PPObjectsSans-Regular.ttf');
   }
   @font-face {
    font-family: 'font-jms-Slanted';
    src: url('objectSans/PPObjectsSans-Slanted.ttf');
   }
/* fin fonts ================================================================= */

/* Media Queries Pantalla SM ================================================= */
@media only screen and (min-width: 320px) and (max-width: 992px) {
    #eslogan {
        width: 80%;
    }
   
    .proyectos-fila {
        width: 100%;
        text-align: center;
    }

    .tel-box , .mail-box,  .dom-box , .horario-box {
       display: none;
    }
    .contacto-wrapper {
       
        grid-template-columns: 1fr !important;
        margin-top: 20rem;
        gap: 1rem;
      
    }
    .contacto-mapa iframe {
        height: 400px !important;
    }
  
    #datos-contacto {
        display: block !important;
        padding: 5px 5px;

    }
    #datos-contacto ul li a {
        color:  rgb(184, 179, 174);
    }
}

#datos-contacto {
    display: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(184, 179, 174);
    max-height: 30px;
    padding-right: 15px;
}

/* =========================================================================== */



.verde-jms {
    color:rgb(34, 217, 145) ;
}
.negro-jms {
    color: rgb(29,29,27);
}
.gris-jms {
    color: rgb(184, 179, 174);
}
.blanco-jms {
    color: rgb(255, 255, 255);
}


/* menu var =============*/

.container-fluid {
    background-color: rgb(184, 179, 174);
    display: flex;
    justify-content:space-between;
}
 
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(29,29,27);
    min-height: 100px;
    width: 100%;
}

.header a {
    color: rgb(184, 179, 174); 
}
.logo img {
    height: 150px;
}


#menu {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
   
}

#menu li > a {
    font-size: 18px;
    font-weight:initial;
}


main {
    background-color:white ;
   
}

#titulo-servicio {
    background-image: url(huecos.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;   
    color: white; 
}

#eslogan {
    
    background-image: url(Render1LivingComedor.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;   
    color:rgb(184, 179, 174); 
}

footer  {
    background-color:rgb(29,29,27);
    min-height: 90px;
    width: 100%;
}

footer p {
    color: rgb(184, 179, 174);  
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0px 8px;
    color: rgb(184, 179, 174); 
}
/* clases */
.section-uno {
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center ; 
}


.carousel-inner {
    max-height: 30rem;
}

.carousel-item {
    background-size: contain;
}


#titulo-formulario {
    color: rgb(184, 179, 174); 
    text-align: center;
}

.contacto-wrapper > * {
    padding: 1em;

}

.contacto-form form input,
.contacto-form form textarea,
.contacto-form form button {
    width: 90%;
}

.contacto-form form button {
    background-color: rgb(34, 217, 145) ;
    border: 0;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
    background-color: rgb(184, 179, 174); 
    color: white;
    
}

.contacto-mapa {
    border: 2px;
}
.contacto-mapa iframe {
    width: 100%;
    height: 100%;
}

.contenedor-formulario {
    background-color: rgb(255, 255, 255);
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.contacto-wrapper {
    box-shadow: 0 0 20px 0 rgba(34,217,145, 0.2);
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

