
@import "component/mediaQueries";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "base/mixins";

@import "component/topBar";

@import "component/header";

@import "component/footer";

@import "component/contacto";

@import "component/galeriaImag";

@import "component/carousel";

@import "component/imgServicios";


* {
    margin: 0;
    padding: 0;
}

main {
    background-color:white ;
   
}
#eslogan {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(184, 179, 174);
    background-image: url("../images/EdificioAmics/Render1LivingComedor.jpg");
  }
  
#titulo-servicio {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    background-image: url("../images/Servicios/huecos.jpg");
  }